<div class="sports-list">
  <a *ngFor="let sport of (sports$ | async)" class="sport-container" [routerLink]="['/sport', sport.strSport]">
    <div>
      <div class="sport-image" [ngStyle]="{'background-image': 'url(' + sport.strSportThumb + ')'}">
      </div>
      <div class="sport-title">
        <span class="sport-icon">
          <img [src]="getImageLink(sport.strSport)" alt="">
        </span>
        <span class="sport-name">
          {{sport.strSport}}
        </span>
      </div>
    </div>
  </a>
</div>
