.sports-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .sport-container {
    text-decoration: none;
    color: #000;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 1%;
    margin-left: 1%;
    .sport-image {
      height: 200px;
      background-size: cover;
    }

    .sport-title {
      display: flex;
      background-color: #FFF;
      padding: 15px;
      align-items: center;

      .sport-icon {
        display: flex;
        align-items: center;
        margin-right: 15px;
      }
    }
  }
}
