<div class="sports-list">
  <div *ngFor="let sport of (sports$ | async)" class="sport-container">
    <div>
      <div class="sport-image" [ngStyle]="{'background-image': 'url(' + sport.strSportThumb + ')'}">
      </div>
      <a class="sport-title" [routerLink]="['/sport', sport.strSport]">
        <span class="sport-icon">
          <img [src]="getImageLink(sport.strSport)" alt="">
        </span>
        <span class="sport-name">
          {{sport.strSport}}
        </span>
      </a>
    </div>
  </div>
</div>
